<div id="wrapper">
  <h1>Mensagem Push</h1>

  <div id="sms_div">
    <form name="form1" id="form1" method="POST" action="/notifications">
      <input type="text" id="title" placeholder="Titulo" name="title" id="title">

      <label for="styledSelect1" class='custom-select'>
        <select name="recipient" id="styledSelect1">
          <option value="">Destinatários</option>
          {{#users}}
          <option value="{{token}}">{{token}}</option>
          {{/users}}
        </select>
      </label>
      <textarea name="message" placeholder="Mensagem" id="message"></textarea><br>
      <input type="submit" value="Enviar">
    </form>
  </div>
</div>
