<h1>Mensagem Push</h1>

<form name="form1" id="form1" method="POST" action="/notifications">
  Titulo: <input type="text" name="title" id="title"><br><br>
  Destinatário:
  <select name="recipient" id="recipient">
    <option value="">Todos</option>
    {{!-- Pega do banco de dados e coloca aqui --}}
    {{#users}}
      <option value="{{token}}">{{token}}</option>
    {{/users}}
  </select> <br>
  Mensagem: <textarea name="message" id="message"></textarea><br>
  <input type="submit" value="Enviar">
</form>
